.hidden
*.dpd
*.dot

##Coq
*.vo
*.glob
*.v.d
*~
CoqMakefile
CoqMakefile.conf
Makefile.coq
Makefile.coq.conf
execution/CoqMakefile
execution/CoqMakefile.conf
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.ml.d
*.mllib.d
*.ml4.d
*.mli.d
*.mlpack.d
*.native
*.o
*.aux
*.d
*.lia.cache
doc/
docs/
_opam/

.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache

## Editors

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
