.hidden
*.dpd
*.dot

##Coq
*.vo
*.vok
*.vos
*.glob
*.v.d
*~
CoqMakefile
CoqMakefile.conf
CoqMakefile.plugin
CoqMakefile.plugin.conf
Makefile.coq
Makefile.coq.conf
execution/CoqMakefile
execution/CoqMakefile.conf
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.ml.d
*.mllib.d
*.o
*.aux
*.d
*.lia.cache
doc/
docs/
_opam

## extraction output
*.liq
*.out
