.gitignore export-ignore
.gitmodules export-ignore
build-artefact.* export-ignore
smart-contract-interactions/.gitignore export-ignore
smart-contract-interactions/.editorconfig export-ignore
smart-contract-interactions/.gitlab-ci.yml export-ignore