name: Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    container: aucobra/concert:deps-coq-8.11-with-compilers
    steps:
    - run: sudo chown -R coq:coq .
    - uses: actions/checkout@v2
    - name: Build
      run: |
        export HOME=/home/coq && \
        env && \
        opam switch && \
        eval $(opam env --switch=${COMPILER_EDGE} --set-switch) && \
        make && \
        make process-extraction-examples && \
        make test-extraction && \
        make clean-extraction-out-files && \
        make clean-compiled-extraction && \
        make html && \
    - uses: actions/upload-artifact@v2
      with:
        name: Documentation
        path: docs/
    - name: Push to the extraction repository
      uses: cpina/github-action-push-to-another-repository@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-directory: 'extraction/examples/extracted-code'
        destination-github-username: 'AU-COBRA'
        destination-repository-name: 'extraction-resutls'
        user-email: danil.v.annenkov@gmail.com
        commit-message: See ORIGIN_COMMIT from $GITHUB_REF
        target-branch: main
