name: Build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    container: aucobra/concert:deps-coq-8.11-with-compilers
    steps:
    - run: sudo chown -R coq:coq .
    - uses: actions/checkout@v2
    - name: Build
      run: |
        export HOME=/home/coq && \
        PATH=/home/coq/.cargo/bin:$PATH
        env && \
        opam switch && \
        eval $(opam env --switch=${COMPILER_EDGE} --set-switch) && \
        git config --global http.postBuffer 1048576000 && \
        make && \
        make html && \
        make test-extraction && \
        make clean-extraction-out-files && \
        make clean-compiled-extraction
    - uses: actions/upload-artifact@v2
      with:
        name: Documentation
        path: docs/
    - uses: actions/upload-artifact@v2
      with:
        name: Liquidity logs
        path: extraction/examples/extracted-code/liquidity-extract/liquidity.log
    - name: Push to the extraction repository
      uses: cpina/github-action-push-to-another-repository@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-directory: 'extraction/examples/extracted-code'
        destination-github-username: 'AU-COBRA'
        destination-repository-name: 'extraction-resutls'
        user-email: danil.v.annenkov@gmail.com
        user-name: annenkov
        commit-message: See ORIGIN_COMMIT from $GITHUB_REF
        target-branch: journal-2021
      # don't push the extraction results on pull requests and push only from the journal-2021 branch of the AU-COBRA/ConCert repo
      if: github.event_name != 'pull_request' && github.repository == 'AU-COBRA/ConCert' && github.ref == 'refs/heads/journal-2021'
